.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: $header-bg-color;
}

.flex-box {
  flex: 1 0 auto;
  display: flex;
  .container {
    flex: 1;
  }
  .sidebar {
    flex: 0;
    margin: 0;
    background: $sidebar-bg-color;
  }
}

.redmart-wrapper {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid $black;
  margin: 0.25em;
  > * {
    padding: 10px;
    flex: 1 100%;
  }

  .header {
    border-bottom: 1px solid $black;
  }

  .sidebar {
    background: $sidebar-bg-color;
    border-right: 1px solid $black;
  }

  .container {
    background: $container-bg-color;
  }

  @media all and (min-width: 600px) {
    .sidebar {
      flex: 1 auto;
    }
  }

  @media all and (min-width: 800px) {
    .container {
      flex: 3 0px;
      order: 2;
    }
    .sidebar {
      order: 1;
    }
  }
}
