$black: #000;
$white: #fff;
$header-bg-color: #9fc5e7;
$sidebar-bg-color: #6fa8dc;
$container-bg-color: #cfe2f3;
$filter-checkbox-hover: #e6e6e6;
$filter-checkbox-checked: #2aa1c0;
$product-detail-width: 21.625rem;
$product-name-size: 15px;
$product-price-size: 1rem;
$btn-danger-bg-color: #e06665;
$btn-font-size: 20px;
